<form action="/login" method="post">
  <div><input type="text" name="username"></div>
  <div><input type="password" name="password"></div>
  <div><input type="submit"></div>
</form>

<form action='/login' method='post'>
<div>
	<div align="center" class="panel">
		<br><h1>Login Page</h1>
		<h2></h2>
	
		
				
				<input name="username" id="username" placeholder="Username:" value="" type="text" autocorrect="off" autocapitalize="off">
				          
       			
     
       		
 	
          		<input name="password" id="password" placeholder="Password:" value="" type="password" onKeydown="if(event.keyCode==13) userLogin.click()">         
        		 
    

        	<div>
        		<div>
        			<div>
        				<button data-theme="b" type="submit" id="userLogin">Login</button>  
        			</div>
        			<div>
        				<button data-icon="delete" data-theme="c" type="submit">Cancel</button>  
        			</div>
        			
        		</div>
        	</div>
	</div>
</div> 
</form>