<h4> <%= "Flows (" + flowLength + ")" %> </h4>
<table class="flowTable" id=<%= "flowTable" + dpid %> border="1" cellspacing="1" cellpadding="5">
	<tbody>
		<tr>
			<th> Flow Name </th>
			<th> Flow Priority </th>
			<th> Input Port </th>
			<th> Actions </th>
			<th> Packets </th>
			<th> Bytes </th>
			<th> Age </th>
			<th> Timeout </th>
			<!--<th><div data-role="controlgroup" data-type="horizontal" data-mini="true">
			<p id="removeFlo" data-role="button" data-icon="refresh" data-theme="b">Delete</p>
			</div></th>-->
		</tr>
	</tbody>
</table>