<tr id="portStats">
	<td> <% var s = [State]; if (s == 0 || s == 512) { %> UP <% }else{%> DOWN <% } %>  </td>
	<td> <%= name  %> </td>
	<td> <%= PortNum %> </td>
	<td> <% if (portStatistics === null){ %> no data <% }else{ %><%= portStatistics.RXPackets %><% } %> </td>
	<td> <% if (portStatistics === null){ %> no data <% }else{ %><%= portStatistics.TXPackets %><%} %> </td>
	<td> <% if (portStatistics === null){ %> no data <% }else{ %><%= portStatistics.RXBytes %><%} %> </td>
	<td> <% if (portStatistics === null){ %> no data <% }else{ %><%= portStatistics.TXBytes %><%} %> </td>
	<td> <% if (portStatistics === null){ %> no data <% }else{ %><%= portStatistics.RXDrops + portStatistics.TXDrops %><%} %> </td>
	<td> <% if (portStatistics === null){ %> no data <% }else{ %><%= portStatistics.RXErrors + portStatistics.TXErrors + portStatistics.RXFrameErr + portStatistics.RXOverrunErr + portStatistics.RXCrcErr %><%} %> </td>
</tr>