<div style="width: 100%; overflow: hidden;">
    <div id="buttonGroup" style="width: window.innerWidth/2; float: left;" data-role="controlgroup" data-type="horizontal" data-mini="true">
	<h3> Network Topology </h3>
	<p id="showLabels" data-role="button" data-icon="false" data-theme="b">Show Labels</p>
	<select name="nodeList" id="nodeList" data-icon="false" data-theme="b" style="width: 100px;">
		<option value="nodeList">Local View</option>
		<% _.each(coll, function(i) { %>  <option><%= i.dpid || i['mac'][0] %></option> <% }); %>
	</select>
	</div>

	
    <div class="rightLegend" id="legendDiv" style="display:none; margin-left: function() {if (window.innerWidth > 350) 
    														return window.innerWidth/2;
    													else 
    														return 0;};"></div>
</div>

<div class="leftLegend" id="legendDiv" style="display:none;"></div>

<input type="text" id="switchColor" placeholder="Switch Color" value=""></input>
<input type="text" id="hostColor" placeholder="Host Color" value=""  onKeydown="if(event.keyCode==13) colorChange.click()"></input>
<button id="colorChange">Change Colors</button>

<div id="doneDiv" style="display:none">
	<div data-role="controlgroup" data-type="horizontal" data-mini="true">
		<p id="doneButton" data-role="button" data-icon="false" data-theme="b" style="float:right">Done</p>
	</div>
</div>

<div class="outer">
    <div class="inner"></div>
</div>