<!-- This is Avior's Options pane. Through here, you can configure which views show up in the secondary pane on any page. -->

<script>
    function config_send(){
        
        var ctlr = document.getElementById("controller_main");
        var hst = document.getElementById("host_main");
        var sw = document.getElementById("switch_main");
        var topo = document.getElementById("topology_main");
        var flow = document.getElementById("flow_main");
        
        var controller_main = ctlr.options[ctlr.selectedIndex].value;
        var host_main = hst.options[hst.selectedIndex].value;
        var switch_main = sw.options[sw.selectedIndex].value;
        var topology_main = topo.options[topo.selectedIndex].value;
        var flow_main = flow.options[flow.selectedIndex].value;
        
        $.post(
                '/config/setPanels',
                {controller_main: controller_main, host_main: host_main, switch_main: switch_main, topology_main: topology_main, flow_main: flow_main},
                function () {
                   //alert("Sent");
                }
            ).fail(function(res){
                alert("Error: " + res.getResponseHeader("error"));
        });
        alert("Successfully set options.");
        window.location = "/avior/index.html#login";
        
    }
</script>

<header>
    <div class="aviorHeader" data-role="header" data-theme="a" style="max-height: 60px;">
	<h1><img class="headerIMG" src="/images/avior_logo_alt_trans.png"  height="40" width="120" style="vertical-align: top;"> </h1>
	</div>
</header>


<div class="sailsView"> 
    <h2> Avior Configuration </h2>
    <h4> Secondary Panels </h4>
    <h4> Here, you can customize Avior by choosing which panels will show up on the right of the main panel. </h4>

        <label for="controller_main" class="select">Controller Page: </label>
        <select name="controller_main" id="controller_main">
            <option value="host_view">Hosts</option>
            <option value="switch_view">Switches</option>
            <option value="topology_view" selected="selected">Topology</option>
            <option value="flow_view">Flow Editor</option>
        </select>

        <label for="host_main" class="select">Host Page: </label>
        <select name="host_main" id="host_main">
            <option value="controller_view">Controller</option>
            <option value="switch_view">Switches</option>
            <option value="topology_view" selected="selected">Topology</option>
            <option value="flow_view">Flow Editor</option>
        </select>

        <label for="switch_main" class="select">Switch Page: </label>
        <select name="switch_main" id="switch_main">
             <option value="controller_view">Controller</option>
            <option value="host_view">Hosts</option>
            <option value="topology_view" selected="selected">Topology</option>
            <option value="flow_view">Flow Editor</option>
        </select>

        <label for="topology_main" class="select">Topology Page: </label>
        <select name="topology_main" id="topology_main" disabled>
            <option value="controller_view">Controller</option></option>
            <option value="host_view" selected="selected">Hosts</option>
            <option value="switch_view">Switches</option>
            <option value="flow_view">Flow Editor</option>
        </select>

        <label for="flow_main" class="select">Flow Editor Page: </label>
        <select name="flow_main" id="flow_main">
            <option value="controller_view">Controller</option>
            <option value="host_view">Hosts</option>
            <option value="switch_view" selected="selected">Switches</option>
            <option value="topology_view">Topology</option>
        </select>



    <button name="config_send" id="config_send" onclick="config_send();">Set</button>
</div>