<script>
    function sdn_info_send(){
        var rads=document.getElementsByName('sdn_controller');
        for (var i=0; i < rads.length; i++){
            if (rads[i].checked){
                var conn=rads[i].value;
            }
        }
        var host=document.getElementById('sdn_controller_host').value;
        
        if(host){
        $.post(
                '/sdncontroller',
                {connection:conn, hostname:host},
                function () {
                   //alert("Sent");
                }
            ).fail(function(res){
                alert("Error: " + res.getResponseHeader("error"));
        });
        alert("Success - Avior will start.");
        window.location = "/avior/index.html#login";
        }
        else{
         alert("Please provide an IP address.");   
        }
    }
</script>

<header>
    <div class="aviorHeader" data-role="header" data-theme="a" style="max-height: 60px;">
	<h1><img class="headerIMG" src="/images/avior_logo_alt_trans.png"  height="40" width="120" style="vertical-align: top;"> </h1>
	</div>
</header>

<div class="sailsView"> 
<h2> Welcome to Avior </h2>
<h4> Please choose your controller below. </h4>
<form>
	<input type="radio" name="sdn_controller" value="floodlight" id="floodlight" checked/><label for="floodlight">Floodlight</label>
	<input type="radio" name="sdn_controller" value="opendaylight" id="opendaylight" /><label for="opendaylight">Opendaylight</label>
    <input type="radio" name="sdn_controller" value="ryu" id="ryu" /><label for="ryu">Ryu</label>
	<input type="radio" name="sdn_controller" value="pox" id="pox" disabled/><label for="pox">POX</label>
	<input type="radio" name="sdn_controller" value="nox" id="nox" disabled/><label for="nox">NOX</label>
	<input type="radio" name="sdn_controller" value="jaxon" id="jaxon" disabled/><label for="jaxon">Jaxon</label>
	<input type="radio" name="sdn_controller" value="beacon" id="beacon" disabled/><label for="beacon">Beacon</label>
	<input type="radio" name="sdn_controller" value="nodeflow" id="nodeflow" disabled/><label for="nodeflow">Nodeflow</label>
	<input type="radio" name="sdn_controller" value="openiris" id="openiris" disabled/><label for="openiris">OpenIris</label>
	<input type="radio" name="sdn_controller" value="mul" id="mul" disabled/><label for="mul">Mul</label>
	<input type="radio" name="sdn_controller" value="juniper" id="juniper" disabled/><label for="juniper">Juniper</label>
	<input type="radio" name="sdn_controller" value="maestro" id="maestro" disabled/><label for="maestro">Maestro</label>
</form>
<h4> Please enter the IP address at which the controller is located. </h4>
<input type="text" name="sdn_controller_host" id="sdn_controller_host" style="width:800px;position:relative;" value="" onKeydown="if(event.keyCode==13) sdn_info.click()">
<button name="sdn_info_send" id="sdn_info" onclick="sdn_info_send();">Start Avior</button>
</div>