<!DOCTYPE html>
<html>
  <head>
    <title>Avior</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/css/junaid.css">
    <link rel="stylesheet" href="/styles/css/junaid.css/flipscroll.css">
    <link rel="stylesheet" href="/styles/css/junaid.css/jqm-docs.css">
    <link rel="stylesheet" href="/styles/css/junaid.css/jquery.mobile-1.3.2.min.css">
    <link rel="stylesheet" href="/styles/css/junaid.css/responsive-tables.css">
    <link rel="stylesheet" href="/styles/css/junaid.css/reveal.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, filesin your `assets/linker/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/avior.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/backbone.marionette.js"></script>
    <script src="/js/backbone.marionette.min.js"></script>
    <script src="/js/backbone.min.js"></script>
    <script src="/js/collection/firewallCollection.js"></script>
    <script src="/js/collection/flowCollection.js"></script>
    <script src="/js/collection/hostCollection.js"></script>
    <script src="/js/collection/portCollection.js"></script>
    <script src="/js/collection/switchCollection.js"></script>
    <script src="/js/collection/testCollection.js"></script>
    <script src="/js/collection/topologyCollection.js"></script>
    <script src="/js/d3.v3.js"></script>
    <script src="/js/d3.v3.min.js"></script>
    <script src="/js/floodlight/descriptionFl.js"></script>
    <script src="/js/floodlight/featuresFl.js"></script>
    <script src="/js/floodlight/firewallModFl.js"></script>
    <script src="/js/floodlight/flowCollectionFl.js"></script>
    <script src="/js/floodlight/flowFl.js"></script>
    <script src="/js/floodlight/flowModFl.js"></script>
    <script src="/js/floodlight/hostCollectionFl.js"></script>
    <script src="/js/floodlight/hostFl.js"></script>
    <script src="/js/floodlight/memory.js"></script>
    <script src="/js/floodlight/modules.js"></script>
    <script src="/js/floodlight/portFl.js"></script>
    <script src="/js/floodlight/status.js"></script>
    <script src="/js/floodlight/switch.js"></script>
    <script src="/js/floodlight/switchStatisticsFl.js"></script>
    <script src="/js/floodlight/testFL.js"></script>
    <script src="/js/floodlight/topologyFl.js"></script>
    <script src="/js/floodlight/uptime.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/foundation/foundation.abide.js"></script>
    <script src="/js/foundation/foundation.accordion.js"></script>
    <script src="/js/foundation/foundation.alert.js"></script>
    <script src="/js/foundation/foundation.clearing.js"></script>
    <script src="/js/foundation/foundation.dropdown.js"></script>
    <script src="/js/foundation/foundation.equalizer.js"></script>
    <script src="/js/foundation/foundation.interchange.js"></script>
    <script src="/js/foundation/foundation.joyride.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.magellan.js"></script>
    <script src="/js/foundation/foundation.offcanvas.js"></script>
    <script src="/js/foundation/foundation.orbit.js"></script>
    <script src="/js/foundation/foundation.reveal.js"></script>
    <script src="/js/foundation/foundation.tab.js"></script>
    <script src="/js/foundation/foundation.tooltip.js"></script>
    <script src="/js/foundation/foundation.topbar.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.mobile.js"></script>
    <script src="/js/jquery.mobile.min.js"></script>
    <script src="/js/jquery.mobile.min.new.js"></script>
    <script src="/js/junaid.js"></script>
    <script src="/js/junaid.js/jqm-docs.js"></script>
    <script src="/js/junaid.js/jquery-1.4.4.min.js"></script>
    <script src="/js/junaid.js/jquery-1.8.3.min.js"></script>
    <script src="/js/junaid.js/jquery.mobile-1.3.2.min.js"></script>
    <script src="/js/junaid.js/jquery.reveal.js"></script>
    <script src="/js/junaid.js/responsive-tables.js"></script>
    <script src="/js/layout/frontpage.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/backbone.marionette.js"></script>
    <script src="/js/lib/backbone.marionette.min.js"></script>
    <script src="/js/lib/backbone.min.js"></script>
    <script src="/js/lib/d3.v3.js"></script>
    <script src="/js/lib/d3.v3.min.js"></script>
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/jquery.mobile.js"></script>
    <script src="/js/lib/jquery.mobile.min.js"></script>
    <script src="/js/lib/jquery.mobile.min.new.js"></script>
    <script src="/js/lib/lodash.js"></script>
    <script src="/js/lib/lodash.min.js"></script>
    <script src="/js/lib/require.js"></script>
    <script src="/js/lib/responsive-tables.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lodash.js"></script>
    <script src="/js/lodash.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/model/controllermodel.js"></script>
    <script src="/js/model/deleteFlows.js"></script>
    <script src="/js/model/description.js"></script>
    <script src="/js/model/features.js"></script>
    <script src="/js/model/firewallMod.js"></script>
    <script src="/js/model/flow.js"></script>
    <script src="/js/model/flowMod.js"></script>
    <script src="/js/model/host.js"></script>
    <script src="/js/model/memorymodel.js"></script>
    <script src="/js/model/modulesmodel.js"></script>
    <script src="/js/model/port.js"></script>
    <script src="/js/model/portStatistics.js"></script>
    <script src="/js/model/statusmodel.js"></script>
    <script src="/js/model/switch.js"></script>
    <script src="/js/model/switchStatistics.js"></script>
    <script src="/js/model/testModel.js"></script>
    <script src="/js/model/topology.js"></script>
    <script src="/js/model/uptimemodel.js"></script>
    <script src="/js/openflow/ofp.js"></script>
    <script src="/js/require.js"></script>
    <script src="/js/responsive-tables.js"></script>
    <script src="/js/router/router.js"></script>
    <script src="/js/text.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script src="/js/vendor/jquery.cookie.js"></script>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/modernizr.js"></script>
    <script src="/js/vendor/placeholder.js"></script>
    <script src="/js/view/controllerCollectionView.js"></script>
    <script src="/js/view/controllerview.js"></script>
    <script src="/js/view/firewallEditor.js"></script>
    <script src="/js/view/flowEditor.js"></script>
    <script src="/js/view/hostview.js"></script>
    <script src="/js/view/memoryview.js"></script>
    <script src="/js/view/modulesview.js"></script>
    <script src="/js/view/portDetail.js"></script>
    <script src="/js/view/statusview.js"></script>
    <script src="/js/view/switch.js"></script>
    <script src="/js/view/switchDetail.js"></script>
    <script src="/js/view/switchSummary.js"></script>
    <script src="/js/view/switches.js"></script>
    <script src="/js/view/testView.js"></script>
    <script src="/js/view/topologyView.js"></script>
    <script src="/js/view/topologyViewOld.js"></script>
    <script src="/js/view/uptimeview.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
