<script>
    function validate(){
        //window.URL = window.URL || window.webkitURL;
     //todo: add actual validations, disallow more than 1 zip file, disallow files over a certain size (?), etc.
       //Validation breakdown of individual files will commence. List of newly bound routes: 
       var plugin_name = document.getElementById('plugin_file').value;
       //var plugin = document.getElementById('plugin_file').files[0];
        //var pluginURL = window.URL.createObjectURL(plugin);
       //console.log(plugin);
        //var ext = plugin_name.substr(plugin_name.length - 4, plugin_name.length);
        //console.log(ext);
        /*if(ext === '.zip'){
            alert('Verified: ' + ext + '. Decompression will begin.');
            $.post(
                '/unzip',
                {name: plugin_name},
                function () {
                   //alert("Sent");
                }
            ).fail(function(res){
                alert("Error: " + res.getResponseHeader("error"));
            });
            window.location = "/success";
            //window.URL.revokeObjectURL(pluginURL);
        }*/
        //else{
            //alert(ext + ' is not an Avior plugin filetype. Please place your files into a .zip archive and re-upload.');
            alert("Integration pending...");
            /*$.post(
                '/unzip',
                {name: plugin_name},
                function () {
                   //alert("Sent");
                }
            ).fail(function(res){
                alert("Error: " + res.getResponseHeader("error"));
            });*/
            window.location = "/success";
            //window.URL.revokeObjectURL(pluginURL);
        //}
    }
    
    function uninstaller(plugin){
        window.location = "/plugin/uninstall/" + plugin;
    }
    
</script>

<header>
    <div class="aviorHeader" data-role="header" data-theme="a" style="max-height: 60px;">
	<h1><img class="headerIMG" src="/images/avior_logo_alt_trans.png"  height="40" width="120" style="vertical-align: top;"> </h1>
	</div>
</header>


<div class="sailsView"> 
    
    <h2> Plugin Manager </h2>
    
    <h4> <a href="https://github.com/1PhoenixM/avior-plugin-template"> This guide and template will explain the file structure and required code for an Avior plugin. </a> </h4>
    
    <p> <b>Currently active plugins:</b> </p>
    
    <p> <%= plugins %> </p>
    
    <p> <%_.each(plugins, function(plugin) { %>
        <button onclick="uninstaller('EnhancedFloodlightRole');">Remove <%= plugin %></button>
        <% })  %>
        
    </p>
    
    <h4> Please upload your plugin package below. </h4>
    
    <p>The only file extension currently accepted by Avior is .zip </p>
    
    <p id="warning"> To use your new plugin, it is necessary to restart the Avior backend server after you upload and validate your file. </p>
    
    <!--form action="/upload" enctype="multipart/form-data" method="post">    
    <input id="plugin_file" type="file" name="unzip" multiple="multiple">
    <input type="submit" value="Upload">
    </form-->

    <form action="http://localhost:1337/file/upload" enctype="multipart/form-data" method="post">
        <input type="text" name="title"><br>
        <input type="file" name="avatar" multiple="multiple"><br>
        <input type="submit" value="Upload">
    </form>  

    <button name="validation" id="validate" class="small-6 columns" onclick="validate();">Submit New Plugin</button>
    
</div>