<!-- This is the view shown to register a new user. -->

<header>
    <div class="aviorHeader" data-role="header" data-theme="a" style="max-height: 60px;">
	<h1><img class="headerIMG" src="/images/avior_logo_alt_trans.png"  height="40" width="120" style="vertical-align: top;"> </h1>
	</div>
</header>

<h1>Signup</h1>
<form action="/signup" method="post" class="sailsView">

  <label for="username">Choose a Username</label>
  <input name="username" type="text"/>
  <br/>

  <label for="password">Choose a Password</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>