<header>
    <div class="aviorHeader" data-role="header" data-theme="a" style="max-height: 60px;">
	<h1><img class="headerIMG" src="/images/avior_logo_alt_trans.png"  height="40" width="120" style="vertical-align: top;"> </h1>
	</div>
</header>

<div class="sailsView"> 

<h2> Success </h2>

<p>Your .zip file has been integrated into Avior's API and will be initialized when you restart the Avior server.
    Use Ctrl+C to end the Avior process running in your terminal, then run 'sails lift' to restart the server.<br />
    For more details on how your plugin is loading, run instead 'sails lift --verbose' or 'sails lift --silly' for maximum logging.</p>

</div>