<header>
    <div class="aviorHeader" data-role="header" data-theme="a" style="max-height: 60px;">
	<h1><img class="headerIMG" src="/images/avior_logo_alt_trans.png"  height="40" width="120" style="vertical-align: top;"> </h1>
	</div>
</header>

<div class="sailsView"> 

    <h2> Success </h2>

    <p> The plugin has been removed. Please restart the Avior server to reset.</p>

</div>