	<div id="actionBody">
	
	<label for="ruleName">Rule Name:</label>
	<input name="ruleName" id="ruleName" placeholder="Rule Name" value="" type="text">
	
	<label for="port">Port:</label>
	<select name="port" id="port" selected="">
	<option></option>
	<% _.each(ports, function(i) { %>  <option><%= i.portNumber %></option> <% }); %>
	 </select> 
	
	<label for="action">Action:</label>
	<select name="action" id="action" selected="">
	<option></option>
	<option>ALLOW</option>
	<option>DENY</option>
	 </select> 
	
	<label for="priority">Priority:</label>
	<input name="priority" id="priority" placeholder="Priority" value="" type="text">
	</div>