<script>
    function sdn_info_send(){
        //var http = require('http');
        var rads=document.getElementsByName('sdn_controller');
        for (var i=0; i < rads.length; i++){
            if (rads[i].checked){
                var conn=rads[i].value;
            }
        }
        var host=document.getElementById('sdn_controller_host').value;
        
        if(host){
        $.post(
                '/sdncontroller',
                {connection:conn, hostname:host},
                function () {
                   alert("Sent");
                }
            ).fail(function(res){
                alert("Error: " + res.getResponseHeader("error"));
        });
        alert("Sent");
        window.location = "/avior";
        }
        else{
         alert("Please provide an IP address.");   
        }
}
</script>
<div id="check"> 
<h2> Welcome to Avior </h2>
<h4> Please choose your controller below. </h4>
<form>
	<input type="radio" name="sdn_controller" value="floodlight" checked/>Floodlight<br />
	<input type="radio" name="sdn_controller" value="opendaylight" />OpenDaylight<br />
	<input type="radio" name="sdn_controller" value="pox" disabled/>POX<br />
	<input type="radio" name="sdn_controller" value="nox" disabled/>NOX<br />
	<input type="radio" name="sdn_controller" value="jaxon" disabled/>Jaxon<br />
	<input type="radio" name="sdn_controller" value="beacon" disabled/>Beacon<br />
	<input type="radio" name="sdn_controller" value="nodeflow" disabled/>Nodeflow<br />
	<input type="radio" name="sdn_controller" value="openiris" disabled/>OpenIris<br />
	<input type="radio" name="sdn_controller" value="mul" disabled/>Mul<br />
	<input type="radio" name="sdn_controller" value="juniper" disabled/>Juniper<br />
	<input type="radio" name="sdn_controller" value="maestro" disabled/>Maestro<br />
	<input type="radio" name="sdn_controller" value="ryu" disabled/>Ryu
</form>
<h4> Please enter the IP address at which the controller is located. </h4>
<input type="text" name="sdn_controller_host" id="sdn_controller_host" style="width:200px;" value=""><button name="sdn_info_send" onclick="sdn_info_send();">Start Avior</button>
</div>