</div>
	<div align="center" class="panel">
		<br><h1>Login Page</h1>
		<h2></h2>
	
		
				
				<input name="Lusername" id="Lusername" placeholder="Username:" value="" type="text" autocorrect="off" autocapitalize="off">
				          
       			
     
       		
 	
          		<input name="Lpassword" id="Lpassword" placeholder="Password:" value="" type="password" onKeydown="if(event.keyCode==13) userLogin.click()">         
        		 
    

        	<div>
        		<div>
        			<div>
        				<button data-theme="b" type="submit" id="userLogin">Login</button>  
        			</div>
        			<div>
        				<button data-icon="delete" data-theme="c" type="submit">Cancel</button>  
        			</div>
        			
        		</div>
        	</div>
	</div>
</div> 
 