<h4> <%= "Ports (" + ports.length + ")" %> </h4>
<table id=<%= "portTable" + dpid %> border="1" cellspacing="1" cellpadding="5" class="portTable">
	<tbody>
		<tr>
			<th> Link Status </th>
			<th> Name </th>
			<th> Number </th>
			<th> RX Packets </th>
			<th> TX Packets </th>
			<th> RX Bytes </th>
			<th> TX Bytes </th>
			<th> Dropped </th>
			<th> Errors </th>
		</tr>
	</tbody>
</table>