
<div id="switchAccordian" class="responsive" data-role="collapsible" data-theme="c" data-content-theme="d"  data-collapsed="true">
	<h3 id=<%= dpid %> class="switchHeading"> <%= dpid %> </h3>
		<p id=<%= "my" + dpid %> class="responsive"> </p>
</div>


