
<h3> <%= "Switches (" + switchCount + ")" %> </h3>
<div data-role="controlgroup" data-type="horizontal">
	<p id="loadswtch" data-role="button" data-icon="refresh" data-theme="b">Refresh</p>
	<p id="flowMod" data-role="button" data-icon="gear" data-theme="b" onclick="location.href='#staticflowmanager';">Manage Flows</p>
</div>


