.aviorHeader {
  position:relative;
}

.headerIMG {
  margin:auto;
  position:absolute;
  top:0;bottom:0;
  left:0;right:0;
}

.headerIMG {
  max-height:100%;
  max-width: 100%;
}

.innerPageLoader{
    display:none;
  position:absolute;
  vertical-align:center;
  margin:auto;
  top:40.5%; 
  left:0;right:0;
  //left:47.40%;
  //top:45.35%;
}
    
.ui-loader{
    display:none;
}

.ui-icon-loading{
    display:none;   
}
    
#warning{
    color: #b20000;   
}

.sailsView{
    text-align:center;
}

#activePlugins{
    background-color: #c2c2d6; 
    min-height: 100px;
}